@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@{

    <ul>
        @*@foreach (var user in ViewBag.data)
        {
            <li>@user.Login</li>
            if (user.Connected)
            {
                <li>Connecté</li>
            }
            else
            {
                <li>Hors ligne</li>
            }
        }*@
    </ul>
    <h2>Les amis de Jean :</h2>
    <ul>
        @foreach (var user2 in ViewBag.Data2)
        {
            <li>@user2.Login</li>
        }


    </ul>
}

<p>Use this area to provide additional information.</p>
