@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header>
    <link href="~/Content/css/About.css" rel="stylesheet" />
</header>
<br />
<br />
<div class="container body-content">
    <div class="jumbotron" style="padding-top:0px; padding-bottom: 10px;">
        @*LOGO & TITRE*@
        <h2 id="h2-accueil">Notre équipe</h2>

        @*ACCUEIL*@
        <p class="lead">
            Nous somme trois développeurs juniors malins, nous travaillons dur, et nous aimons les défis.
            <br />
            Et surtout, nous prenons <b>beaucoup de plaisir</b>  à construire l'application <b>YouCom.</b>
        </p>
    </div>
    <div class="row col-lg-12 ">
        <div class="grayscale div img ">
            <d-iv class="grayscale div:hover img" style="margin-right: 400px;">
                <div class="col-lg-2">
                    <img src="~/Content/img/remy.jpg" style="width: 150px; height: 150px; border-radius: 50%; margin-left: 50px; " alt="Blueprint Wire illustration" />
                </div>
                <div class="row col-lg-6 boxTable ">
                    <p class="h5 fst-normal text-muted text-justify " style="margin-left: 50px;">
                        <b>BANI TOUAGGA Sara</b><br /> <br />
                        Passionnée par le domaine de développement DOT NET. Je suis polyvalente, autonome,
                        organisée, outre j’ai des bonnes capacités d’apprentissage et d’excellentes compétences dans des déférents
                        domaines scientifiques.
                        <br /> <br />
                        <b>Email:</b> <ins>sarabanitouagga@gmail.com</ins><br />
                        <b>Tel:</b> <ins>+33 7 63 93 31 33</ins>
                    </p>
                </div>
            </d-iv>
        </div>
        <hr style="width: 600px; margin-left: 100px; ">
    </div><br />
    <div class="row col-lg-12" style="text-align:end;">
        <div class="grayscale div img">
            <div class="grayscale div:hover img" style="margin-left: 400px;">
                <img src="/Content/img/SaraProfil.jpg" style="width: 150px;height: 150px;border-radius: 50%;margin-right: 50px;" alt="Blueprint Wire illustration">
                <div class="row col-lg-8 boxTable ">
                    <p class="h5 fst-normal text-muted text-justify ">
                        <b>BANI TOUAGGA Sara</b><br /> <br />
                        Passionnée par le domaine de développement DOT NET. Je suis polyvalente, autonome,
                        organisée, outre j’ai des bonnes capacités d’apprentissage et d’excellentes compétences dans des déférents
                        domaines scientifiques.
                        <br /> <br />
                        <b>Email:</b> <ins>sarabanitouagga@gmail.com</ins><br />
                        <b>Tel:</b> <ins>+33 7 63 93 31 33</ins>
                    </p>
                </div>
            </div>
        </div>
        <hr style="width: 600px; margin-right: 100px; ">
    </div>
    <div class="row col-lg-12 ">
        <div class="grayscale div img ">
            <d-iv class="grayscale div:hover img" style="margin-right: 400px;">
                <div class="col-lg-2">
                    <img src="~/Content/img/remy.jpg" style="width: 150px; height: 150px; border-radius: 50%; margin-left: 50px; " alt="Blueprint Wire illustration" />
                </div>
                <div class="row col-lg-6 boxTable ">
                    <p class="h5 fst-normal text-muted text-justify " style="margin-left: 50px;">
                        <b>BANI TOUAGGA Sara</b><br /> <br />
                        Passionnée par le domaine de développement DOT NET. Je suis polyvalente, autonome,
                        organisée, outre j’ai des bonnes capacités d’apprentissage et d’excellentes compétences dans des déférents
                        domaines scientifiques.
                        <br /> <br />
                        <b>Email:</b> <ins>sarabanitouagga@gmail.com</ins><br />
                        <b>Tel:</b> <ins>+33 7 63 93 31 33</ins>
                    </p>
                </div>
            </d-iv>
        </div>
        <hr style="width: 600px; margin-left: 100px; ">
    </div>
</div>


