@{
    ViewBag.Title = "About";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    Contenue de About
    <br />
    <br />
    <br />
    <br />
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation"><a href="#">Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
</div>
