@model VisioConference.DTO.UserDTO

@{ ViewBag.Title = "Accueil"; }
@using VisioConference.DTO;
@{ UserDTO dto = (UserDTO)Session["userAdmin"]; }

                <br />

                <div id="main-container">

                    @*COLONNE 1*@
                    <div id="div-main-col-1">
                        <br />
                        <br />
                        <br />
                        <img src="~/Content/img/@dto.Photo" class="img-circle elevation-2" alt="User Image" Width="200" Height="200" >
                        <br />
                        <br />
                        <br />
                        <div id="main-div-nom-edit">
                            <div>
                                <strong id="main-col-1-name">@dto.Pseudo</strong>
                                <br />
                                #2
                            </div>
                            <div>
                                <img src="~/Content/img/edit-button.png" id="btn-edit" />
                            </div>
                        </div>
                        <br />
                        <select>
                            <option value="value">En ligne</option>
                            <option value="value">Occupé(e)</option>
                            <option value="value">Absent(e)</option>
                            <option value="value">Invisible</option>
                        </select>
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />

                        @*FOOTER*@
                        <footer>
                            <div>
                                <div id="main-div-footer-1">
                                    <img src="~/Content/img/dawan-logo.png" alt="Alternate Text" />
                                </div>
                                <div id="main-div-footer-2">
                                    YouCom&copy;  est une application développée par :
                                    <br />
                                    Sara - Martin - Remy
                                    <br />
                                    Développeurs .NET - DAWAN - @DateTime.Now.Year
                                </div>
                            </div>
                        </footer>
                    </div>

                    @*COLONNE 2*@
                    <div id="div-main-col-2">
                        <br />
                        <br />
                        <br />

                        @* CHAT CONTENT *@


                        @* INPUT *@
                        <div class="input-group mb-3" id="input-group-tchat">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="button">Joindre</button>
                            </div>
                            <input type="text" class="form-control" placeholder="Envoyer un message à Martin" aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">Envoyer</button>
                            </div>
                        </div>
                    </div>

                    @*COLONNE 3*@
                    <div id="div-main-col-3">
                        <br />
                        <br />
                        <br />
                        @* ONGLETS *@
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item active">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Contacts" role="tab" aria-controls="Contacts" aria-selected="true">Contacts</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Invitations" role="tab" aria-controls="Invitations" aria-selected="false">Invitations</a>
                            </li>

                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="" role="tabpanel" aria-labelledby="contacts-tab">...</div>
                            <div class="tab-pane fade" id="" role="tabpanel" aria-labelledby="invitations-tab">...</div>
                        </div>

                        @* RECHERCHE AMI *@
                        <form id="search-friend">
                            <button class="btn btn-outline-success" type="submit">Rechercher</button>
                            <input class="form-control me-2" type="search" placeholder="Rechercher un ami" aria-label="Search">
                        </form>
                        <br />
                        <br />

                        @* TRIER PAR *@
                        <div id="div-select-trier">
                            <select id="select-trier">
                                <option value="value">Trier par</option>
                                <option value="value">Ordre alphabétique</option>
                                <option value="value">Présence</option>
                            </select>
                        </div>

                        @* AMIS *@
                        <div>
                            @* AMI CARD *@
                            <hr />
                            <div>

                            </div>
                        </div>

                    </div>
                </div>


