@model VisioConference.DTO.UserDTO
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="container body-content">
    <div class="jumbotron">
        @*LOGO & TITRE*@
        <h2 id="h2-accueil">Mode passe oublié !</h2>

        @*ACCUEIL*@
        <p class="lead">
            Veuillez entrer votre adresse e-mail enregistrée ci-dessous pour recevoir un e-mail
            <br />
            contenant un lien, pour réinitialiser votre mot de passe.
        </p>
    </div>

    @using (Html.BeginForm("Password", "Login", FormMethod.Post))
    {
        <div class="form-horizontal">
            <hr />
            <div class="form-group">
                <p class="text-center" style="color:darkblue;" >
                    Veuillez entrer votre adresse e-mail enregistrée ci-dessous pour recevoir un e-mail contenant un lien, pour vous réinitialiser votre mot de passe.
                </p>
            </div>
            <div class="form-group row">
                <div class="align-items-center">
                    <label class="control-label col-md-3">Email Address</label>
                    @Html.TextBox("EmailID", "", new { @class = "form-control col-md-4" })
                </div>
                <div class="col-md-3">
                    <input type="submit" value="Submit" class="btn btn-success" />
                </div>
                <br />
                <br />
                <div class="text-success col-md-9 text-center">
                    @ViewBag.Message
                </div>
            </div>
        </div>
    }

</div>