/*GENERAL*/
body {
    background-color: #DADADA;
    overflow: hidden;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

h3{
    font-weight:bold;
    margin-bottom: 0;
}

.jumbotron {
    margin-top: 46px;
}

.label-default {
    background-color: #1c688d;
}

.d-in {
    display: inline-block;
}

.d-no {
    display: none;
}

.iblue {
    color: #337ab7;
}

ul {
    list-style-type: none;
}

/*NAVBAR*/
#nav-content {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.logo {
    width: 50px;
    display: inline-block;
    position: relative;
    bottom: 18px;
}

#website-name {
    font-size: 56px;
    font-weight: bolder;
    color: #eeeeee;
    position: relative;
    top: 19px;
}

.logo-link {
    width: 50px;
    margin: 15px 0;
    margin-right: 10px;
}


#navbar-edit-main {
    background-color: #454545;
}

#navbar-edit {
    position: relative;
    top: 48px;
    font-weight: bolder;
}

    #navbar-edit img {
        position: relative;
        top: 13px;
        left: 10px;
    }

#icone-home {
    width: 21px;
    height: 21px;
}

#icone-tchat {
    width: 24px;
    height: 24px;
}

#icone-infos {
    width: 21px;
    height: 21px;
    top: 14px;
}

#icone-contact {
    width: 24px;
    height: 24px;
}

#icone-logout {
    width: 20px;
    height: 20px;
    top: 14px;
}

#avatar-vide {
    width: 221px;
}

.nav > li {
    display: flex;
}

.nav ul li .active {
    color: #fff !important;
}


.navbar-inverse {
    background-color: #3B3B3B;
}

.flex-end {
    display: flex;
    justify-content: flex-end;
}

footer .row {
    position: relative;
}

#footer-col2 {
    position: absolute;
    bottom: 0;
    right: 0%;
}

/*CONNEXION PAGE*/
#h2-accueil {
    display: inline-block;
    font-size: 36px;
}

#landpage-content input {
    max-width: -webkit-fill-available;
    margin: 0 15px;
}

#landpage-content .btn {
    margin: 0;
}

/*MAIN PAGE*/

#main-container {
    display: flex;
}

#div-main-col-1 {
    display: inline-block;
    width: 20%;
    padding: 20px 30px;
    min-height: 93vh;
}

#div-main-col-2 {
    width: 60%;
    background-color: #eeeeee;
    padding: 20px 30px;
    max-height: 900px;
}

#div-main-col-3 {
    display: inline-block;
    padding: 20px 30px;
}


/*MAIN COL 1*/
#avatar-main {
    width: 250px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.29);
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
}

#main-col-1-name {
    font-size: 26px;
}

#user-id {
    position: relative;
    bottom: 2px;
}

#select-state{
    margin-top: 5px;
}

#modifier-profil-content {
    display: none;
    position: relative;
    bottom: 19px;
}

#div-titre-modifier {
    display: flex;
    margin-bottom: 15px;
}

    #div-titre-modifier i {
        font-size: 21px;
        margin-right: 6px;
        position: relative;
        top: 2px;
    }

    #div-titre-modifier h3{
        margin:0 ;
    }

    #btn-edit {
        width: 30px;
    }

#main-div-nom-edit {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#div-modif-profile {
    display: block;
}

#div-modif-profile input {
    min-width: 100%;
}

#div-main-col-1 select {
    min-width: 250px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #7A7A7A;
    color: #DADADA;
    display: block;
}

#label-pseudo {
    margin-bottom: 1px;
}

#label-password {
    margin-top: 7px;
    margin-bottom: 1px;
}

#div-modif-avatar {
    display: inline-flex;
    margin-top: 16px;
    margin-bottom: 20px;
}

    #div-modif-avatar i {
        font-size: 21px;
        margin-right: 10px;
    }

    #myFile {
        display: inline-block;
    }

#div-modif-profil-btn {
    display: flex;
    justify-content: flex-end;
}

    #div-modif-profil-btn button {
        margin-left:7px;
    }


    /*FOOTER*/
    #div-main-col-1 footer img {
        width: 70px;
    }

#div-main-col-1 footer {
    font-size: 11px;
    bottom: 3vh;
    position: absolute;
}

#main-div-footer-1,
#main-div-footer-2 {
    display: inline-block;
    bottom: 0;
}

#main-div-footer-1 {
    margin-right: 7px;
}

#main-div-footer-2 {
    position: relative;
    bottom: -30px;
}

/*MAIN COL 2*/

#div-user-tchat{
    margin-bottom: 30px;
}

#div-user-tchat img {
    width: 64px;
    border-radius: 10px;
    height: 64px;
    object-fit: cover;
    margin-right: 8px;
}

#div-tchat-user-name {
    display: inline-grid;
    position: relative;
    bottom: 12px;
}

#span-tchat-id{
    position:relative;
    bottom: 1px;
}

.label-tchat {
    display: block;
    width: 113px;
    font-size: 100%;
}

#discussion {
    margin-left: 57px;
}

#message {
    min-width: -webkit-fill-available;
}

#input-group-tchat {
    min-width: 1090px;
    position: absolute;
    bottom: 29px;
}

#div-list-amis {
    position: relative;
    bottom: 16px;
    padding:  0 10px 10px 10px;
    width: 111%;
    position: relative;
    right: 10px;
    overflow: auto;
    height: 688px;
}

    #div-list-amis > div,
    #div-list-invit-in > div {
        display: inline-flex;
        padding: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.29);
        width: -webkit-fill-available;
    }


    #div-list-amis > hr,
    #div-list-invit-in > hr {
        margin-top: 10px;
        margin-bottom: 10px;
        color: #454545;
    }

#div-list-amis > hr:first-child {
    margin-top: 2px;
}

.ami-card-img {
    position: relative;
    margin-left: 20px;
    top: 5px;
    -webkit-box-shadow: 0px 0px 4px 2px rgb(0 0 0 / 29%);
    width: 64px;
    border-radius: 10px;
    height: 64px;
    object-fit: cover;
    margin-right: 10px;
}

.state-img {
    position: relative;
    bottom: 18px;
    left: 27px;
    width: 20px;
}

.ami-nom {
    font-weight: bold;
}

#div-list-amis .edit-btn-close,
#div-list-invit-in .edit-btn-close {
    background-color: #dc3545;
    border-radius: 22px;
    width: 22px;
    font-size: 22px;
    opacity: 1.0;
    position: relative;
    bottom: 85px;
    right: 21px;
}

#div-list-amis .edit-span-close,
#div-list-invit-in .edit-span-close {
    position: relative;
    top: 1px;
    color: #DADADA;
    opacity: 1.0;
    text-shadow: none;
}

#div-list-amis button:nth-child(2) {
    display: inline-flex;
    width: -webkit-fill-available;
    border: none;
    border-radius: 10px;
    padding-top: 13px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.29);
}

#div-list-amis button:nth-child(2):hover {
    background-color: #DADADA;
}

.div-ami-card-text {
    width: -webkit-fill-available;
    margin-top: 8px;
    text-align: initial;
}

    .div-ami-card-text button {
        font-size: 29px;
    }

    .div-ami-card-text .label {
        display: block;
        width: 113px;
        font-size: 100%;
    }

.friends-id{
    position: relative;
    bottom: 2px;
}



/*MAIN COL 3*/
#myTab, #myTab li {
    border-bottom: solid 1px #333333;
}

#myTab {
    text-align: center;
}

    #myTab li {
        width: 50%;
        display: block;
    }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #DADADA;
}

.nav-tabs > li > a {
    background-color: #7A7A7A;
    color: #DADADA;
}

#div-notif-nb-disc {
    background-color: #dc3545;
    position: relative;
    bottom: 53px;
    left: 83px;
    border-radius: 20px;
    padding: 1px;
    width: 22px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.29);
}

#notif-nb-disc {
    font-size: 12px;
    font-weight: bold;
    color: #DADADA;
    position: relative;
    left: 3px;
}

#div-notif-nb-inv {
    background-color: #dc3545;
    position: relative;
    bottom: 75px;
    left: 198px;
    border-radius: 20px;
    padding: 1px;
    width: 22px;
    -webkit-box-shadow: 0px 0px 4px 2px rgba(0,0,0,0.29);
}

#notif-nb-inv {
    font-size: 12px;
    font-weight: bold;
    color: #DADADA;
    position: relative;
    left: 2px;
}

#contacts-content, #invitations-content {
    position: relative;
    bottom: 34px;
}

.subcat {
    font-weight: bold;
    color: #7A7A7A;
}

.hr-subcat {
    border-top: #7A7A7A 1px solid;
    margin-top: 0;
}

#search-friend {
    display: inline-flex;
    width: -webkit-fill-available;
}

#select-trier {
    min-width: 197px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #7A7A7A;
    color: #DADADA;
}

#div-select-trier {
    display: flex;
    justify-content: flex-end;
    margin-top: 11px;
    margin-bottom: 7px;
}
